
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.logo {
    display: block;
 /*   background-image: url("/images/logo-black.svg");
    background-repeat: no-repeat;*/
    height: 105px;
}

.logo img {
    width: 135px;
    height: 105px;
}

.top-menu {
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
}

.menu-list {
    display: flex;
    justify-content: flex-start;
    gap: 31px;
}

.menu-list-item {
    list-style-type: circle;
}

.menu-list-item-current {
    list-style-type: none;
    text-decoration: none;
}

.menu-list-item-current a {
    text-decoration: none;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding-right: 40px;
}

.address-fonts {
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
 }

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    position: relative;
    background-image: url("/images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 757px;
    /* font-size: 0; */
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 757px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


.cover__title {
    padding-top: 155px;
    display: flex;
    row-gap: 30px; 
    flex-direction: column;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 100px; 
    color: #fff;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 110px;
    margin-bottom: 31px;
    z-index: 2;
}

.cover__description-text {

    text-transform: uppercase;

    color: #fff;
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;

}

.bet-button {
    width: 258px;
    height: 51px;
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
    text-transform: uppercase;
    font-family: "Raleway" sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    text-align: center;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.adjust-text_center {
    margin-top: 8px;
    margin-left: 30px;
}

.adjust-text_right {
    margin-top: 4px;
    margin-right: -35px;
}



